.account-info-container {
  font-family: "Nunito", sans-serif;
  display: block;
  width: 20%;
  padding: 5rem;
  transform: rotate(-20deg);
}

.info-btn {
  display: flex;
  flex-direction: column;
}

.greeting {
  font-size: 3rem;
  font-weight: bold;
}

.info-text {
  font-weight: normal;
  font-size: 1.5rem;
}

.change-btn {
  font-size: 0.8rem;
  background-color: white;
  cursor: pointer;
  display: contents;
}
