.review-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: auto;
  /* border-bottom: 1px solid black; */
  padding-bottom: 2rem;
  border-radius: 0.5rem;
  font-family: "Nunito", sans-serif;
}

.summary-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(243, 243, 243);
  align-items: center;
  border-radius: 0.5rem;
  /* border-bottom: 1px solid black; */
}

.username-text {
  font-size: 1.2rem;
  font-weight: 600;
  padding-left: 0.5rem;
}

.content-text {
  padding-top: 0.8rem;
  font-size: 1rem;
  font-weight: 400;
  padding-left: 0.5rem;
  color: rgb(39, 39, 39);
}

.right-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.delete-btn {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  border-radius: 0.5rem;
  height: 2rem;
  background-color: rgb(243, 243, 243);
  border: 1px solid rgb(243, 243, 243);
  transition-duration: 0.4s;
}

.delete-btn:hover {
  border-radius: 0.5rem;
  border: 1px solid #ee1f1f;
  color: #ee1f1f;
}
